.ui.grid.app-grid-container {
  display: flex !important;
  flex-direction: column !important;
  min-height: 100vh !important;
}

.ui.grid.app-grid-container .app-main-content {
  flex: 1 !important; /* This ensures that the main content takes up all available space */
  margin: 0;
  overflow: auto; /* Add this to handle overflow of content */
}

.main-content .footer {
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
